{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock %}

{% block title %}Página de login{% endblock %}

{% block corescura %}
    <h2>Autenticação</h2>
{% endblock %}

{% block corclara %}
    <form method="post">
        {% csrf_token %}
            <input type="text" name="username" autofocus="" required="" id="id_username" placeholder="Usuário">
            <br><input type="password" name="password" autofocus="" required="" id="id_password" placeholder="Senha">
            <br><button class="botao_wrapper" style="color: white; float:none;" type="submit">Entrar</button>
    </form>
{% endblock %}
