body{
font-family:sans-serif;
margin: 0px;
}
.header{
background-color: white;
text-align: left;
padding: 15px;
overflow: hidden;
}
a:link, a:visited{
color: white;
text-decoration: none;
}
.botao_wrapper{
background-color: #2D6FC9;
display: inline-block;
text-align: center;
margin: 0.2% 1%;
padding: 1%;
width: 10%;
border-radius: 25px;
border: #2D6FC9 solid 3px;
float: right;
text-transform: uppercase;
font-weight: bold;
text-shadow: 2px 2px 1px black;
transition: 1s
}
.login, .logout, .pginicial{
display: inline-block;
}
.botao_wrapper:hover{
border: #57C04D solid 3px;
transition: 0.5s
}
.corescura{
background-color: #462344;
padding: 50px;
text-align: center;
color: white;
font-weight: bold;
text-shadow: 2px 2px 1px black;
overflow: hidden;
margin:0;
}
.corclara{
background-color: #B583A1;
padding: 15px;
overflow: hidden;
}
.botao_app{
display: inline-block;
color: white;
background-color: #D85264;
border: #D85264 solid 4px;
border-radius: 25px;
text-align: center;
margin: 1% 5%;
padding: 3%;
width: 14%;
font-size: 200%;
text-transform: uppercase;
font-weight: bold;
text-shadow: 2px 2px 1px black;
transition: 1s;
}
.botao_app:hover{
border: #E88B62 solid 4px;
transition: 0.5;
}

.botao_app:nth-child(2){
background-color: #D87B52;
border: #D87B52 solid 4px;
}
.botao_app:nth-child(2):hover{
border: #F0D052 solid 4px;
}

.botao_app:nth-child(3){
background-color: #E0C042;
border: #E0C042 solid 4px;
}
.botao_app:nth-child(3):hover{
border: #E86264 solid 4px;
}

.frota{
display: inline-block;
}
@media only screen and (min-width: 1281px){
    .botao_app{font-size: 100%;padding:0.5%;margin:1% 8%;}
    .corescura, .corclara{padding: 0.3%;font-size: 130%;}
    .corescura{padding:0.5%;}
    .header, .botao_wrapper{padding:5px;}
    .footer, .footer p{display:none;}
}
@media only screen and (min-width: 775px) and (max-width: 1280px){
    .botao_app{font-size: 125%;padding:1%;margin:1% 8%;}
    .corescura, .corclara{font-size: 125%;}
}
@media only screen and (min-width: 561px) and (max-width: 774px){
    .botao_app, .botao_wrapper{font-size: 100%;width: 14%;}
    .corescura, .corclara{font-size: 100%;}
}
@media only screen and (min-width: 400px) and (max-width: 560px){
    .botao_app, .botao_wrapper{font-size: 100%;width: 14%;}
}
@media only screen and (min-width: 300px) and (max-width: 399px){
    .botao_app, .botao_wrapper{font-size: 75%;width: 14%;}
}