{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <nav>
            <div class="nav-wrapper light-blue darken-1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field z-depth-0">
                        <input id="search_box" name="pesquisa" type="search" placeholder="Pesquisa">
                        <label class="label-icon"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                        <div class="left input-field col s4 m2">
                            <input name="data_inicial" type="text" class="datepicker left" placeholder="Data Inicial">
                        </div>
                        <div class="left input-field col s4 m2">
                            <input name="data_final" type="text" class="datepicker left" placeholder="Data Final">
                        </div>
                        {% if request.method == 'POST' %}
                        <div class="col l2 push-l1 btn blue accent-2">
                            <a href="{% static 'docx/relatorio.docx' %}" download>Baixar Relatorio</a>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn right blue accent-2">
                            Pesquisar
                        </button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="row col s12 m4">
            <p class="col s12 btn light-blue accent-3" style="cursor: default;">
                Viagens
            </p>
            <a class="col s6 push-s3 m4 push-m4 btn hoverable waves-effect waves-light light-blue accent-4" href="{% url 'nova_viagem' %}">Nova</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% for viagem in viagens %}
            <a href="{% url 'atualizar_viagem' viagem.id %}">
                <div class="card hoverable light-blue accent-4">
                    <div class="card-content white-text">
                        <span class="card-title">{{ viagem.data }}</span>
                        Horário: {{ viagem.saida }} ~
                        {% if viagem.retorno == None %}
                        {% else %}
                        {{ viagem.retorno }}
                        {% endif %}
                        <br>Motorista: {{ viagem.motorista }}
                        <br>
                        <br>
                        <p>
                            {{ viagem.observacoes }}
                        </p>
                    </div>
                    <div class="card-action light-blue accent-3">
                        <b><a class="white-text" href="{% url 'atualizar_viagem' viagem.id %}">Modificar</a>
                            <a class="red-text text-accent-3" href="{% url 'apagar_viagem' viagem.id %}">Apagar</a></b>
                    </div>
                </div>
            </a>
            {% empty %}
            {% endfor %}
        </div>
        <div class="row col s12 m4">
            <p class="col s12 btn cyan lighten-1" style="cursor: default;">
                Veiculos
            </p>
            <a class="col s6 push-s3 m4 push-m4 btn hoverable waves-effect waves-light cyan darken-1" href="{% url 'novo_veiculo' %}">Novo</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% for veiculo in veiculos %}
            <a href="{% url 'atualizar_veiculo' veiculo.id %}">
                <div class="card hoverable cyan darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ veiculo }}</span>
                        {{ veiculo.tipo_veiculo }}
                        <br>Placa: {{ veiculo.placa }}
                        <br>
                        <br>
                        <p>
                            {% if veiculo.observacoes %}
                            Observações: {{ veiculo.observacoes }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-action cyan lighten-1">
                        <b><a class="white-text" href="{% url 'atualizar_veiculo' veiculo.id %}">Atualizar</a>
                            <a class="red-text text-accent-3" href="{% url 'apagar_veiculo' veiculo.id %}">Apagar</a></b>
                    </div>
                </div>
            </a>
            {% empty %}
            {% endfor %}
        </div>
        <div class="row col s12 m4">
            <p class="col s12 btn teal lighten-1" style="cursor: default;">
                Motoristas
            </p>
            <a class="col s6 push-s3 m4 push-m4 btn hoverable waves-effect waves-light teal darken-1" href="{% url 'novo_motorista' %}">Novo</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% for motorista in motoristas %}
            <a href="{% url 'atualizar_motorista' motorista.id %}">
                <div class="card hoverable teal darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ motorista }}</span>
                        Nascimento: {{ motorista.data_nascimento }}
                        <br>
                        <br>
                        <p>
                            {% if motorista.observacoes %}
                            Observações: {{ motorista.observacoes }}
                            {% endif %}
                        </p>
                        <br>
                    </div>
                    <div class="card-action teal lighten-1">
                        <b><a class="white-text" href="{% url 'atualizar_motorista' motorista.id %}">Atualizar</a>
                            <a class="red-text text-accent-3" href="{% url 'apagar_motorista' motorista.id %}">Apagar</a></b>
                    </div>
                </div>
            </a>
            {% empty %}
            {% endfor %}
        </div>
    </div>
    {% if viagens.has_other_pages %}
    <ul class="pagination">
        {% if viagem.has_previous %}
        <li class="waves-effect"><a href="?page={{ viagens.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for i in viagens.paginator.page_range %}
        {% if viagens.number == i %}
        <li class="active blue"><a href="#!">{{ i }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if viagens.has_next %}
        <li><a href="?page={{ viagens.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}