.corclara{
text-align: center;
}
input[type = "text"], input[type = "password"]{
border:0;
background: none;
display: block;
margin: 0.5% auto;
text-align: center;
border: 2px solid #3498DB;
padding: 14px 10px;
width: 10%;
outline: none;
color: black;
border-radius: 24px;
transition: 0.25s;
}
input[type = "text"]:focus, input[type = "password"]:focus{
width: 15%;
background: white;
border-color: #2ECC71;
}
::placeholder{
color: black;
}