{% extends 'fleet/index.html' %}
{% block title %}Veiculos{% endblock %}

{% block corescura %}
<h1>Listagem de veiculos</h1>
{% endblock %}

{% block main %}
{% if user.is_authenticated %}
<a href="{% url 'novo_veiculo' %}"  style="color:blue;">Novo veiculo</a>
<ul>
	{% for veiculo in veiculos %}
		<p>
			<li><b>{{ veiculo }}</b> - <a href="{% url 'atualizar_veiculo' veiculo.id %}" style="color:limegreen;">Atualizar</a>
			<br> <b>Marca:</b> {{ veiculo.marca }}
			<br> <b>Ano:</b> {{ veiculo.ano }}
			<br> <a href="{% url 'apagar_veiculo' veiculo.id %}" style="color:red;">Apagar</a>
		</p>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}