body{
text-align:center;
}
.cancelar:link, .cancelar:visited{
margin: 0.5%;
text-align: center;
border: 2px solid #3498DB;
padding: 14px 10px;
width: 20%;
outline: none;
color: black;
border-radius: 24px;
background: white;
transition:0.25s;
}
button{
margin: 0.5%;
text-align: center;
border: 2px solid #3498DB;
padding: 14px 10px;
width: 10%;
outline: none;
color: black;
border-radius: 24px;
background: white;
transition:0.25s;
}
.cancelar:hover{
background: #9A0;
border-color: #FD0;
transition:0.15s;
color:white;
}
button:hover{
background: darkred;
border-color: orangered;
transition:0.15s;
color:white;
}
.column{
text-align: center;
background: #DDD;
padding: 0.2%;
overflow: hidden;
border-radius: 8px;
margin: 2% 25%;
}