<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        {% block header %}
        {% if not user.is_authenticated %}
        <div class="botao_wrapper">
            <a href="{% url 'entrar' %}">
                <div class="login">
                    Entrar
                </div>
            </a>
        </div>
        {% else %}
        <div class="botao_wrapper">
            <a href="{% url 'sair' %}">
                <div class="logout">
                    Sair
                </div>
            </a>
        </div>
        {% endif %}
        <div class="botao_wrapper">
            <a href="{% url 'pgprincipal' %}">
                <div class="pginicial">
                    Início
                </div>
            </a>
        </div>
        <b>Desenvolvido por GabrielJulioBS com Django 2.2
            <br>Office Manager v0.7
            <br>Copyright &copy; 2019
        </b>
        {% endblock %}
    </div>

    <div class="corescura">
        {% block corescura %}
        {% endblock %}
    </div>
    <div class="corclara">
        {% block corclara %}
        {% endblock %}
    </div>
    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>