{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}Página Inicial{% endblock %}

{% block corescura %}
    <h2>Seja bem-vindo ao OM!</h2>
{% endblock %}

{% block corclara %}
<a href="{% url 'frota_principal' %}">
    <div class="botao_app">
        <div class="frota">
            Frota
        </div>
    </div>
</a>
<div class="botao_app">
    desen...
</div>
<div class="botao_app">
    desen...
</div>
{% endblock %}