{% extends 'index.html' %}
{% block title %}Página de Frota{% endblock%}

{% block corescura %}
    <h2>Você está no app Frota!</h2>
{% endblock %}

{% block corclara %}
    {% if user.is_authenticated %}
        <div class="botao_app">
            <a href="{% url 'listagem_viagem' %}">Viagens</a>
        </div>
        <div class="botao_app">
            <a href="{% url 'listagem_motorista' %}">Motoristas</a>
        </div>
        <div class="botao_app">
            <a href="{% url 'listagem_veiculo' %}">Veiculos</a>
        </div>
    {% else %}
        <p>
            Por favor <a href="{% url 'entrar' %}" style="color:limegreen;">entre aqui</a> para poder usar o app.
        </p>
    {% endif %}
{% endblock %}
{% block main %}
{% endblock%}