{% extends 'fleet/index.html' %}
{% load static %}

{% block title %}Formulario de Cadastro{% endblock %}

{% block main %}
<h1 class="red white-text">
    Página sendo reformada visualmente, porem funcionando normalmente.
</h1>
<h3>- JavaScript já ok!</h3>
{% if user.is_authenticated %}
<form method="POST">
	{% csrf_token %}

    {% if form.veiculo %}
        <div class="row">
            <div class="column">
                <h1>Principal</h1>
                <p>Veiculo:<br> {{ form.veiculo }}</p>
                <p>Motorista:<br> {{ form.motorista }}</p>
                <p>Observações:<br> {{ form.observacoes }}</p>
            </div>
            <div class="column">
                <h1>Detalhes</h1>
                <p><br>Data da viagem:<br> {{ form.data }}</p>
                <p><br>Horário da saída:<br> {{ form.saida }}</p>
                <p><br>Horário do retorno:<br> {{ form.retorno }}</p>
            </div>
        </div>
    {% elif form.tipo_veiculo %}
        <div class="row">
            <div class="column">
                <h1>Principal</h1>
                <p>Tipo de veículo:<br> {{ form.tipo_veiculo }}</p>
                <p>Nome:<br> {{ form.nome }}</p>
                <p>Marca:<br> {{ form.marca }}</p>
                <p>Ano:<br> {{ form.ano }}</p>
            </div>
            <div class="column">
                <h1>Detalhes</h1>
                <p>Placa do veículo:<br> {{ form.placa }}</p>
                <p>Observações:<br> {{ form.observacoes }}</p>
            </div>
        </div>
    {% elif form.data_nascimento %}
        <div class="row">
            <div class="column">
                <h1>Principal</h1>
                <p>Nome:<br>{{ form.nome }}</p>
                <p>Sobrenome:<br>{{ form.sobrenome }}</p>
                <p>CPF:<br>{{ form.cpf }}</p>
            </div>
            <div class="column">
                <h1>Detalhes</h1>
                <p>Data de nascimento:<br>{{ form.data_nascimento }}</p>
                <p>Observações:<br>{{ form.observacoes }}</p>
            </div>
        </div>
    {% endif %}
	<button type="submit">Salvar</button>
    <a class="cancelar" href="{% url 'pgprincipal' %}">Cancelar alterações</a>
    {% if form.instance.id %}
        {% if form.veiculo %}
            <a class="apagar" href="{% url 'apagar_viagem' form.instance.id %}">Apagar Viagem</a>
        {% elif form.tipo_veiculo %}
            <a class="apagar" href="{% url 'apagar_veiculo' form.instance.id %}">Apagar Veiculo</a>
        {% elif form.data_nascimento %}
            <a class="apagar" href="{% url 'apagar_motorista' form.instance.id %}">Apagar Motorista</a>
        {% endif %}
    {% endif %}
</form>
{% endif %}
{% endblock %}

{% block js %}
$(document).ready(function(){
    var $placa = $("#id_placa");
    var $cpf = $("#id_cpf");
    var $data = $("#id_data");
    var $data_nascimento = $("#id_data_nascimento");
    var $ano = $("#id_ano");
    var $saida = $("#id_saida");
    var $retorno = $("#id_retorno");

    $placa.mask('SSS-0000');
    $cpf.mask('000.000.000-00');
    $data.mask('00/00/0000');
    $data_nascimento.mask('00/00/0000');
    $ano.mask('0000');
    $saida.mask('00:00');
    $retorno.mask('00:00');
});
{% endblock %}